body {
	font-family: 'Consolas', 'Inconsolata';
}

.notFound {
	background: #DD514C;
	border-radius: 25px;
	margin: 50px;
	padding: 30px;
	color: white;
    font-family: 'quintessential';
    font-size: 32pt;
}

.found {
	background: #5EB95E;
	border-radius: 25px;
	margin: 50px;
	padding: 30px;
	color: white;
}

.jars {
	background: lightblue;
	color: black;
	border-radius: 25px;
	margin: 50px;
	padding: 30px;
}


#mainDiv {
	margin: 0 auto;
	min-width: 50%;
	width: 100%;
}

.mainHeading {
	font-size: 32pt;
	font-family: 'Quintessential';
	text-align: center;
    display: block;
    color: black;
}

#traceDiv {
	margin: 0 auto;
    width: 80%;
}

#trace {
	min-width: 100%;
	min-height: 350px;
	margin: 0 auto;
	padding: 15px;
}

#submit {
	width: 150px;
	display: block;
	background: #0E90D2;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	color: white;
	border: 0px;
	font-size: 14pt;
	font-family: 'Quintessential';
}

h1 {
    margin: 0;
    background: #A31012;
    padding: 20px 45px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-bottom: 1px solid #690000;
    font-size: 28px;
}
p#detail {
    margin: 0;
    padding: 15px 45px;
    background: #F5A0A0;
    border-top: 4px solid #D36D6D;
    color: #730000;
    text-shadow: 1px 1px 1px rgba(255,255,255,.3);
    font-size: 14px;
    border-bottom: 1px solid #BA7A7A;
}
p#detail input {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AE1113), to(#A31012));
    border: 1px solid #790000;
    padding: 3px 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-family: Monaco, 'Lucida Console';
    font-size: 12px;
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: -1px;
}
h2 {
    margin: 0;
    padding: 5px 45px;
    font-size: 12px;
    background: #333;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-top: 4px solid #2a2a2a;
}
pre {
    margin: 0;
    border-bottom: 1px solid #DDD;
    text-shadow: 1px 1px 1px rgba(255,255,255,.5);
    position: relative;
    font-size: 12px;
    overflow: hidden;
}
pre span.line {
    text-align: right;
    display: inline-block;
    padding: 5px 5px;
    width: 30px;
    background: #D6D6D6;
    color: #8B8B8B;
    text-shadow: 1px 1px 1px rgba(255,255,255,.5);
    font-weight: bold;
}
pre span.code {
    padding: 5px 5px;
    position: absolute;
    right: 0;
    left: 40px;
}
pre:first-child span.code {
    border-top: 4px solid #CDCDCD;
}
pre:first-child span.line {
    border-top: 4px solid #B6B6B6;
}
pre.error span.line {
    background: #A31012;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
pre.error {
    color: #A31012;
}
pre.error span.marker {
    background: #A31012;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

#stackTrace {
    width: 50%;
    display: inline-block;
    float: left;
    overflow: auto;
    text-justify: auto;
    text-overflow: ellipsis;
    background: white;
}

#source {
    width: 100%;
    height: auto;
    overflow: auto;
    display: inline-block;
    float: right;
}

.error {
    color: red;
}

#stackTrace p {
    text-decoration: none;
}

p:hover {
    color: blue;
}

#stackTrace ul {
  box-shadow: #2a2a2a inset 3px;
}

.traceLine {
  word-wrap: break-word;
}

span.code {
    overflow: auto;
}

span {
    overflow: show;
}

#uploadDiv {
    width: 10%;
    display: inline;
}

.progress-striped .bar {
    background-color: #149BDF;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress .bar {
    -moz-box-sizing: border-box;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 15px;
    //margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}
.progress-striped .bar {
    background-color: #149BDF;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
    background-color: #62C462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}