titlte { 
		text-align: center;
		color: #979797;
		}

#top{
		background-color : #e1e1e1;
		width : 98%;
		z-index: 1;
		padding: 1%;
		height: 4%;
		margin-bottom: 10px;
		border: 1px solid #d2d2d2;
		box-shadow: 0 0 20px #222;
		position : absolute;
		}
.logotop
		{
		float:right;
		margin-right: 10px;
		margin-top: -28px;
		}

body {
		font-family:segoh,arial,sans-serif; color: #979797;
		margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
	}
	



.more{
		border: 1px solid #d2d2d2;
		border-radius:3px;
		background-color : #e59592;
		}
.more:hover {
		cursor: pointer;
		background-color:#eac6c6;
		}
		
#sourcered {
			color: red;
			}

#directory{
		margin-top : 75px;
		background-color : none;
		width : 20%;
		z-index : -1;
		height: 600px;
		overflow: auto;
		float: left;
		border-right: #d3d3d3 solid 1px;
		box-shadow: 0 0 5px #222;		
		padding-left: 3px;
		padding-top: 10px;
		}

#crumbs {
		margin-top : 75px;
		background-color : none;
		width : 79.6%;
		padding: 0%;
		float : right;
		overflow: auto;
}

#details{
		background-color : none;
		width : 79.6%;
		padding: 0%;
		height: 80%;
		float : right;
		overflow: auto;
		}

.inputbox{
		border-radius:8px;
		width: 300px;
		border: 1px solid #b0b0b0;
		height: 25px;
}

.searchicon{
		margin-left: -25px;
		margin-right: 25px;
		margin-top: 0px;
		margin-bottom: -3px;
}

.findmethod{
		margin-top: 10px;
		visibility: hidden;
}

.insidediv{
		float:left;
		width: 190px;
		margin-right : 10px;
		text-align : right;
}

.selectiontabs{
		float: right;
		margin-right: 10px;
		
}

.list{
		margin-right: 5px;
		
		
}

.list:hover {
		cursor: pointer;
		background-color:#d4d4d4;
		}
		
.folder:hover {
		cursor: pointer;
		background-color:#d4d4d4;
		}
		
.detailstext {
		margin-top: 300px;
		margin-left: 500px;
		
}