@(message: String)
@import helper._
<!--@main("WhichSource") {-->

	<!--<div id="traceDiv">-->
		<!--@form(action = routes.Application.sourceFinder()) {-->
			<!--<textarea name="trace" id="trace" placeholder="Paste your stacktrace here."></textarea>-->
			<!--<input name="submit" id="submit" type="submit" value="Post" />-->
		<!--}-->
	<!--</div>-->
<!--}-->

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<title>Which Source
</title>
<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylesheet.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/script_whichsource.js")" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        function uploadJars() {
            var files = document.getElementById("files");
            var step = 100 / files.files.length;
            var progress = document.getElementById("progress");

            for(var i = 0; i < files.files.length; i++) {
                var oData = new FormData();
                oData.append("jar", files.files[i]);
                var oReq = new XMLHttpRequest();
                 oReq.open("POST", "/jar", true);
                 oReq.onload = function(oEvent) {
                   if (oReq.status == 200) {
                     $("#progress").css({width: step * (i + 1) + "%"});
                   }
                 };
                oReq.send(oData);
            }
        }
    </script>
</head>

<body>

<div id="top">
    <div>
        <div class="insidediv">WHICH <a id="sourcered">SOURCE</a> does </div><input type="text" class="inputbox" name="FirstName" value="..." ><img class = "searchicon"src="@routes.Assets.at("images/search.png")"></input>
        belong to
        <button id='Mbutton' type="button" class="more" onclick="moreclick(this)">more...</button>
        <div id="uploadDiv">
            <input type="file" name="files" id="files" multiple />
            <input type="button" name="upload" id="upload" onclick="uploadJars()" value="Upload Jars"/>
            <div class="progress progress-success progress-striped">
                <div id="progress" class="bar"></div>
            </div>
        </div>
    </div>

    <img class="logotop" src="@routes.Assets.at("images/logo.png")">

    <div class="findmethod">
        <div class="insidediv">FIND <a id="sourcered">Methods</a> that use </div><input type="text" class="inputbox" name="FirstName" value="..." ><img class = "searchicon"src="@routes.Assets.at("images/search.png")"></input>
        ...
    </div>

    <div class="findmethod">
        <div class="insidediv">Question <a id="sourcered">#3</a> does </div><input type="text" class="inputbox" name="FirstName" value="..." ><img class = "searchicon"src="@routes.Assets.at("images/search.png")"></input>
        goes...
    </div>
    <div class="findmethod">
        <div class="insidediv">Question <a id="sourcered">#4</a> does </div><input type="text" class="inputbox" name="FirstName" value="..." ><img class = "searchicon"src="@routes.Assets.at("images/search.png")"></input>
        goes...
    </div>
    <div class="findmethod">
        <div class="insidediv">Question <a id="sourcered">#5</a> does </div><input type="text" class="inputbox" name="FirstName" value="..." ><img class = "searchicon"src="@routes.Assets.at("images/search.png")"></input>
        goes...
        <button id='lbutton' type="button" class="more" onclick="lessclick(this)">less...</button>
    </div>


</div>


<div>
    <div id ="directory">
        <ul class="selectiontabs">
            <!--<INPUT TYPE="image" class="list" SRC="@routes.Assets.at("images/list.png")" onclick="alert('...')" />-->
            <!--<INPUT TYPE="image" class="folder" SRC="@routes.Assets.at("images/folder.png")" onclick="alert('...')">-->
        </ul>

        <div>
        </div>

        <div>
        </div>

    </div>
    <div id="crumbs"></div>
    <div id ="details">
        @form(routes.Application.sourceFinder) {
            <textarea name="trace" id="trace" placeholder="@message"></textarea>
            <input name="submit" id="submit" type="submit" value="Post" />
        }
    </div>
</div>


</body>
</html>